<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareMD - Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../images/CareMD_icon.png" type="image/x-icon">
    <!-- Link to your external CSS file -->
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h5 class="card-title text-center mb-4">Login to your account</h5>
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="mb-3 text-center" style="margin-bottom: 20px;">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="userType" id="patientRadio" value="patient" checked>
                                    <label class="form-check-label" for="patientRadio">Patient</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="userType" id="doctorRadio" value="doctor">
                                    <label class="form-check-label" for="doctorRadio">Doctor</label>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn theme w-100">Login</button>
                            </div>
                            <div class="mb-3 text-center">
                                <hr> 
                                <p class="text-muted">Or sign in with:</p>
                                <a class="btn btn-outline-dark w-100" href="/users/googleauth" role="button" style="text-transform:none">
                                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="../images/gmail.jpeg" />
                                    Login with Google
                                </a>
                                <br><br>
                                <a class="btn red w-100" href="/users/googleauth" role="button" style="text-transform:none">
                                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="../images/singpass.png" />
                                    Login with Singpass
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Minified CSS and JS -->
<link   rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.1/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.1/js/bootstrap.min.js" 
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
        crossorigin="anonymous">
</script>
</html>
